<html><head>
  <script type="text/javascript" src="/media/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/media/jquery.ui.core.js"></script>
  <script type="text/javascript" src="/media/jquery.ui.datepicker.js"></script>
  <link rel="stylesheet" href="/media/jquery-ui.css" type="text/css" media="all" /> 
  <link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" /> 
</head>
<body>
<form action="/main/" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

</body></html>